.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recipe__container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.recipe__card {
  background: cadetblue;
  color: antiquewhite;
  padding: 1px 10px;
  font-size: 15px;
  width: 27vw;
  margin: 10px;
}